.challengeContainer{
    width: 85%;
    display: flex;
}

.challengeGame{
    display: flex;
    height: 700px;
    width: 90%;
    border: 1px solid white;
    margin: 0.5rem;
    border-radius: 4px;
    padding: 0.25rem;
    background: black;
}

.playerOne{
    position: relative;
    background: white;
    width: 0.5rem;
    height: 100px;
    margin: 10px 0;
}

.playerTwo{
    position: relative;
    background: white;
    width: 0.5rem;
    height: 100px;
    margin: 10px 0;
    margin-left: auto;
    /* top: 0rem; */
}

.challengeCancel{
    width: 15rem;
    height: 3rem;
    margin-left: auto;
    margin-top: auto;
    background: black;
    color: white;
    font-size: inherit;
}