.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90%;
  height: 90vh;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid white;
  width: 15%;
}

.chat {
  color: white;
  margin: 0.5rem;
  margin-top: auto;
  overflow-y: scroll;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: 1px solid white;
  width: 70%;
  height: 100%;
}

.inputContainer {
  display: flex;
}

.activePartner {
  padding: 0.5rem;
  background: black;
  color: white;
  width: 100%;
  cursor: pointer;
}

.chatuser {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  width: 100%;
  cursor: pointer;
}

.inputContainer .chatInput {
  text-align: left;
  text-decoration: none;
  outline: none;
}

.messageContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid white;
}