.notification {
  position: absolute;
  background: #000000;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  width: 20%;
  right: 40%;
  border-radius: 5px;
  text-align: center;
  top: 3rem;
  /* transition: 3s; */
  animation: new-notification 3s infinite;
}

@keyframes new-notification {
  0% {
    top: -2rem;
    opacity: 0;
  }
  50% {
    top: 2rem;
    opacity: 1;
  }
  100% {
    top: 6rem;
    opacity: 0;
  }
}

.groupContainer {
  display: flex;
  margin: auto;
  height: 80vh;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.groupInvList {
  position: absolute;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.816);
  background-color: hsl(0, 0%, 45%);
  display: none;
  text-align: center;
}

.groupInvList p {
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
}

.notifyBox {
  padding: 20px 25px;
  min-width: 220px;
}

.groupInvList .notifyBox:hover {
  background-color: hsl(0, 0%, 15%);
}

.listButton {
  background-color: hsl(0, 0%, 0%);
  display: block;
  color: white;
  padding: 15px 25px;
  cursor: pointer;
  min-width: 220px;
  text-align: center;
}

.listButton:hover {
  background-color: hsl(0, 0%, 10%);
}

.listButton:hover + .groupInvList {
  display: block;
}

.groupInvList:hover {
  display: block;
}

button {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 3px; 
  box-shadow: 0.5px 2px 5px hsla(0, 0%, 0%, 0.816);
}

.accept {
  margin-right: 15px;
  background: linear-gradient(to left top, hsl(125, 100%, 60%),  hsl(125, 100%, 40%));                   
}

.decline {
  background-color: hsl(0, 100%, 50%);
}

